@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient(#186a5e, #053339); */
  color: #ffffff;
  min-height: 80vh;
}

#content {
  max-width: 46rem;
  margin: 1rem auto;
  padding: 1.5rem;
  background: radial-gradient(#0b201d, #021619);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

h1 {
  font-family: 'Handjet', monospace;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
  font-size: 3.5rem;
  margin: 0;
}

h1 em {
  font-style: normal;
  color: #54a399;;
}

header p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
}

input, button {
  font: inherit;
  font-size: small;
}

#main-area {
  max-width: 42rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
}

@media screen and (max-width: 600px) {
  #main-area {
    margin-top: 1rem;
  }
  
  #content {
    margin: 0;
  }
} 
